$black: #4a4a4a;
$powder-blue: #B8DBD9;

.ssp-default-header {
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $powder-blue;
  transition: all 200ms ease-out 0s;
  &--large {
    // visibility: hidden;
    transition: all 200ms ease-out 0s;
    // transform: translate(0px, -100%);
  }

  &__inner {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 200ms ease-out 0s;
    position: absolute;
    width: 100%;
    background-color: $powder-blue;
    top: 0;

    &--large {
      background-color: white;
      height: 340px;
      display: flex;
      flex-direction: column;
      transition: all 200ms ease-out 0s;
      padding: 16px 0;
    }
  }

  &__logo {
    img {
      max-width: 540px;
    }
  }


  &__links {
    display: flex;

    &--large {
      max-width: 1000px;
      width: 100%;
      border-top: 2px solid $black;
      justify-content: center;
    }

    &__item {
      text-decoration: none;
      color: $black;
      font-size: 1em;
      font-weight: 400;
      line-height: 1.5;
      align-items: center;
      display: flex;
      height: 72px;
      margin-bottom: -16px;
      margin-left: 24px;
      margin-top: -9px;
      overflow: hidden;
      padding: 8px;
      position: relative;

      &--active {
        &::after {
          content: '';
          background-color: $black;
          height: 3px;
          bottom: 18px;
          position: absolute;
          opacity: 1;
          transition: all .3s ease-out;
          width: 86%;
        }
        &::before {
          display: none;
        }
      }

      &:hover {
        &::before {
          opacity: 1;
          transform: translateY(-12px);
        }
      }

      &::before {
        content: '';
        background-color: $black;
        height: 3px;
        bottom: 6px;
        position: absolute;
        opacity: 0;
        transition: all .3s ease-out;
        width: 86%;
      }
    }
  }
}

.section {
  margin-top: 120px;
}